.checkout-container {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff5f8;
  font-family: 'Poppins', sans-serif;
}

.back-link {
  display: inline-block;
  margin-bottom: 1rem;
  color: #b44b7a;
  text-decoration: none;
  font-weight: 500;
}

.back-link:hover {
  text-decoration: underline;
}

.checkout-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.summary-box,
.form-box {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  width: 320px;
}

.summary-box h2,
.form-box h2 {
  color: #b44b7a;
  margin-bottom: 1rem;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-box select{
  width: 100%;
  padding: 0.7rem;
 border: 1px solid #f1c1d6;
 border-radius: 8px;


}
.form-box option{
  width: 100%;
  padding: 0.7rem;
 border: 1px solid #f1c1d6;
 border-radius: 8px;
}

form input {
  padding: 0.5rem;
  border: 1px solid #f1c1d6;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #f1c1d6;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

.textarea {
  resize: none;
  height: 80px;
}

.btn {
  background-color: #d67aa3;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #b44b7a;
}

.note {
  font-size: 0.85rem;
  margin-top: 1rem;
  color: #777;
}
